body {
    background: #fff7f7;
}

a,
a:hover,
a:visited {
    color: #ba8282;
}

.splashscreen
{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1 !important;
    background-color: #ba8282;
    color: #dbb4b4;
}

.splashscreen > p {
    text-align: center;
    position: relative;
    top: 40%;
    font-size: 1.5em;
}

.side-content {
    background-color: #ffe8e8;
    padding: 2%;
    min-width: 160px;
}

.social-list > li {
    background: #689568;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: 7px;
}

.social-list > li > a {
    color: #fff7f7;
}

.sidenote {
    margin-top: 20px;
}

.tools-list > li{
    background: #dbb4b4;
    color: #fff7f7;
    margin-bottom: 3px;
    margin-right: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
    border: 1px solid #ba8282;
    font-size: 1.25em;
}

.main-content > .row {
    margin-bottom: 30px;
}

.main-content {
    padding-top: 5%;
    padding-left: 7%;
}

.personal-statement {
    color: #777;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;

}

.information-section {
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 24px;
    border-right: 1px solid #dbb4b4;
}

.information-list > li {
    padding: 20px;
    margin-top: 15px;
    background: #ffe8e8;
}

.information-item-header .h1,
.information-item-header .h2,
.information-item-header .h3,
.information-item-header .h4,
.information-item-header .h5,
.information-item-header .h6 {
    margin: 0;
}

.information-item-text {
    margin-top: 10px;
}



















/* EOF */
