/*

Color reference
---------------
http://colorschemedesigner.com/#2M41T00w0w0w0

Color palette (hex)
-------------------
+ fcfcfc (base bg)
+ 1e790f (links)
+ ebebeb (header/footer border)
+ ffffff (main section bg)
+ 323232 (main text)
+ dddddd (source code border)
+ 586e75 (source code fg)
+ fdf6e3 (source code bg)
+ 9e9e9e (article footer text)
+ f7f7f7 (footer bg)
+ 777777 (footer fg)



CSS by Czar Pino
*/

/* DEFAULT OVERRIDES */
body
{
        padding: 0%;
        border: 0%;
        margin: 0%;
        background-color: #fcfcfc;
        font-family: Serif;
        font-size: 100%;
}

a:link, a:visited
{
        color: #1e790f;
}
/* end DEFAULT OVERRIDES */

#header
{
        padding: 1% 0%;
        border-bottom: 1px solid #ebebeb;
}

#headerContainer, #footerContainer, .mainArticle, .mainAside
{
        margin: 0% 18%;
}

#homeLink
{
        text-decoration: none;
        font-weight: 900;
}

#main, .aside
{
        background-color: #ffffff;
        padding: 3% 0%;
}

.articleHeader
{
        padding: 3% 0%;
}

.articleTitle
{
        margin: 0%;
        font-size: 3.6em;
        font-family: 'Playfair Display', serif;
        color: #323232;
}

.articleBody
{
        font-size: 1.1em;
        line-height: 180%;
        font-family: 'Noto Serif', serif;
        color: #323232;
}

.articleBody > p, .articleBody > pre
{
        margin: 3% 0%;
}

/* Source code styles */
pre, code
{
        border: 1px solid #dddddd;
        
        /* Inspired by solarized */
        color: #586e75;    /* Solarize base 01 */
        background-color: #fdf6e3;    /* Solarize base3 */
}

pre
{
        padding: 2%;
        border-radius: 12px;
        
        font: 0.9em monospace, sans-serif;
        
        overflow: auto;
}

code
{
        padding: 0.5%;
        border-radius: 3px;
        
        font: 0.9em monospace, sans-serif;
}

pre > code
{
        padding: 0%;
        border: 0px;
}
/* end Source code styles */

.articleBody > p:first-child
{
        font-size: 1.2em;
        font-style: italic;
        margin-top: 0%;
}

.articleFooter
{
        font-size: 0.84em;
        color: #9e9e9e;
}

.browserAside
{
        text-align: center;
}

#footer
{
        padding: 0.3% 0%;
        border-top: 1px solid #ebebeb;
        background-color: #f7f7f7;
        color: #777777;
}

#copyright
{
        float: right;
}
