/*

http://colorschemedesigner.com/#2M41T00w0w0w0
Color palette
-------------
+ \#336762
+ \#ebebeb
+ \#9e9e9e
+ \#fcfcfc
+ \#000000 (by default)
+ \#ffffff (by default)


CSS by Czar Pino
*/

/* DEFAULT OVERIDES */
a:link, a:visited
{
    color: #1e790f;
}
/* end DEFAULT OVERIDES */

#header
{
    padding: 1% 0%;
    border-bottom: 1px solid #ebebeb;
    background-color: #fcfcfc;
}

#siteNav, #copyright
{
    margin: 0% 18%;
}

.article, #browser
{
    margin: 0% 18%;
}

#homeLink
{
    text-decoration: none;
    font-weight: 900;
}

.articleHeader, .articleFooter
{
    margin-bottom: 3%;
}

.articleTitle
{
    font-size: 3em;
    margin: 3% 0%;
}

#mainArticle, .mainAside
{
    background-color: #ffffff;
    padding: 3% 0%;
}

.introParagraph
{
    font-size: 1.1em;
    font-style: italic;
}

.articleFooter
{
    font-size: 0.75em;
    color: #9e9e9e;
}

#browser
{
    text-align: center;
}

#footer
{
    padding: 1% 0%;
    border-top: 1px solid #ebebeb;
    background-color: #fcfcfc;
    color: #777777;
}
