body {
    font-family: "Open Sans", "Verdana", sans-serif;
    font-size: 16px;
    background-color: #fcfcfc;
    color: #3f3f3f;
}

a {
    color: #f26148;
}

/* Site header */

.site-header {
    padding: 0;
    margin-bottom: 12%;
}

.site-footer {
    padding: 32px;
    text-align: center;
}

.site-header nav ul, .site-footer nav ul {
    padding: 0;
    margin: 0;
}

.site-header nav li, .site-footer nav li {
    list-style: none;
    display: inline;
    margin: 0 8px 0 8px;
    font-size: 14px;
}

.site-header nav li:first-of-type, .site-footer nav li:first-of-type {
    margin-left: 0;
}

/* END Site header */

/* Site article */

.site-article {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
}

.site-article-header {
    text-align: center;
    margin-bottom: 2.5em;
}

.site-article-header h1 {
    margin: 0;
    font-size: 2.75em;
}

.site-article-date {
    font-size: 14px;
    line-height: 2.5em;
    color: #7f7f7f;
}

.site-article-content {
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 24px;
    max-width: 96%;
}

.site-article-content > h1, .site-article-content > h2 {
    margin-top: 1.5em;
}

.site-article-content img {
    max-width: 100%;
    margin: 8px 0px;
}

.site-article-content li {
    line-height: 22px;
}

.site-article-content blockquote {
    font-style: italic;
    color: #7f7f7f;
}

.site-article-content blockquote p:first-of-type:before {
    content: "“";
    font-family: "Times New Roman", serif;
    font-size: 2em;
    margin-left: -18px;
}

.site-article-content blockquote:before {
}

.site-article-content code {
    font-family: "Monaco", "Fira Mono", "Menlo", "Courier";
    font-size: 13px;
    font-style: normal;
    color: rgb(64,64,64);
    background: rgb(253,246,227);
    padding: 2px 4px;
    border: solid 1px rgb(235,235,235);
    line-height: 24px;
}

.site-article-content pre {
    background: rgb(253,246,227);
    padding: 16px 16px;
    border-bottom: solid 1px rgb(200,200,200);
    border-top: solid 4px #fa7f7f;
    line-height: 24px;
}
.site-article-content pre > code {
    font-size: 13px;
    border: none;
    background: none;
    padding: 0;
    line-height: 18px;
}

.site-article-content pre > code * {
    /*font-weight: normal !important;*/
}
/* END Site article */

/* Page footer */

.page-aside {
    border-top: solid 1px #efefef;
    border-bottom: solid 1px #efefef;
    background-color: #f7f7f7;
    margin-top: 5em;
}

.suggested-articles {
    max-width: 440px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 18px;
}

.suggested-articles ul {
    padding: 0;
}

.suggested-articles li {
    margin: 8px 0;
    list-style: none;
    list-style-position: outside;
}

.suggested-articles li.next::before {
    content: "NEXT: ";
}

.suggested-articles li.previous::before {
    content: "PREV: ";
}

/* END Page footer */
