body {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    background-color: #fcfcfc;
    color: #3f3f3f;
}

a {
    color: #fa0000;
}

/* Site header */

.site-header, .site-footer {
    padding: 32px;
}

.site-header nav ul, .site-footer nav ul {
    padding: 0;
    margin: 0;
}

.site-header nav li, .site-footer nav li {
    list-style: none;
    display: inline;
    margin: 0 8px 0 8px;
    font-size: 14px;
}

.site-header nav li:first-of-type, .site-footer nav li:first-of-type {
    margin-left: 0;
}

/* END Site header */

/* Site article */

.site-article {
    max-width: 640px;
    margin-left: 32px;
    margin-right: auto;
    padding-bottom: 16px;
}

.site-article-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.site-article-date {
    font-size: 12px;
}

.site-article-content {
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 32px;
    max-width: 96%;
}

.site-article-content img {
    max-width: 100%;
    margin: 2px 0px;
    border: 1px solid #7f7f7f;
}

.site-article-content li {
    line-height: 22px;
}

.site-article-content blockquote {
    font-style: italic;
    color: #7f7f7f;
}

.site-article-content blockquote p:first-of-type:before {
    content: "“";
    font-family: "Times New Roman", serif;
    font-size: 2em;
    margin-left: -18px;
}

.site-article-content blockquote:before {
}

.site-article-content code {
    font-family: "Fira Mono", "Menlo", "Courier";
    font-size: 12px;
    font-style: normal;
    color: rgb(64,64,64);
    background: rgb(253,246,227);
    padding: 2px 4px;
    border: solid 1px rgb(200,200,200);
    line-height: 24px;
}

.site-article-content pre {
    background: rgb(253,246,227);
    padding: 16px 16px;
    border: solid 1px rgb(200,200,200);
    border-top: solid 4px #fa7f7f;
    line-height: 24px;
}
.site-article-content pre > code {
    font-size: 12px;
    border: none;
    background: none;
    padding: 0;
    line-height: 18px;
}

.site-article-content pre > code * {
    /*font-weight: normal !important;*/
}
/* END Site article */

/* Page footer */

.page-aside {
    border-top: solid 1px #efefef;
    border-bottom: solid 1px #efefef;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    background-color: #f7f7f7;
}

.page-aside h1, .page-aside h2 {
    margin: 0 0 16px;
}

.page-aside a:after {
    content: "";
    display: block;
    margin: 8px 0;
}

/* END Page footer */
