<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CzarPino.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/simple.css">
        <link rel="stylesheet" href="/css/highlight.default.css">
    </head>
    <body>
        {% include simple.header.html %}
        <section class="page-content">
            {{ content }}
        </section>
        {% include simple.footer.html %}
        <script src="/js/highlight.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>