---
layout: simple
---
<article class="article-full-length">
    <header>
    	{% if page.cover %}
        	<img src="{{ page.cover }}" alt="test">
        {% endif %}
        <h1 class="page-title">{{ page.title }}</h1>
        <span class="article-date">{{ page.date | date: "%b %-d, %Y" }}</span>
    </header>
    {{ content }}
    <p>
        {% if page.previous %}
        <small>
            &laquo; <a href="{{ page.previous.url | prepend: site.baseurl }}">"{{ page.previous.title|truncatewords:7 }}"</a>
        </small>
        {% endif %}

        {% if page.next %}
    	<small style="float:right">
    		<a href="{{ page.next.url | prepend: site.baseurl }}">"{{ page.next.title|truncatewords:7 }}"</a> &raquo;
	    </small>
        {% endif %}
    <p>
</article>
