---
layout: simple
---

<article class="site-article">
    <header class="site-article-header">
        <h1>{{ page.title }}</h1>
        <span class="site-article-date">{{ page.date | date: "%b %-d, %Y" }}</span>
    </header>
    <section class="site-article-content">
        {{ content }}
    </section>
</article>
<aside class="page-aside">
    <section class="suggested-articles">
        <ul>
        {% if page.next %}
            <li class="next"><a href="{{ page.next.url | prepend: site.baseurl }}">
                {{ page.next.title|truncatewords:12 }}
            </a>
        {% endif %}
        {% if page.previous %}
            <li class="previous"><a href="{{ page.previous.url | prepend: site.baseurl }}">
                {{ page.previous.title|truncatewords:12 }}
            </a>
        {% endif %}
        </ul>
    <section>
</aside>
